NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
PAYMENTS_TABLE_NAME=product-payment-local
WOMPI_API_URL=https://api-sandbox.co.uat.wompi.dev/v1
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_INTEGRITY_SECRET=
